{% extends 'layout.html' %}

{% block content %}
    <div class="container">

        <div class="row" style="margin: 3rem;">
            <div class="col-12 text-center">
                <h1 class="display-3">Eu sou...</h1>
            </div>
        </div>

        <div class="container" style="padding-left: 10%; padding-right: 10%;">
            <div class="row">
                <div class="col-sm-12 col-md-6" style="text-align: center;">
                    <a class="btn btn-primary btn-custom" data-toggle="tooltip" data-placement="bottom" title="sexo">
                        Voluntário
                    </a>
                </div>
                <div class="col-sm-12 col-md-6" style="text-align: center;">
                    <a class="btn btn-primary btn-custom" data-toggle="tooltip" data-placement="bottom" title="sexo">
                        ONG
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
