{% extends 'layout.html' %}

{% block content %}
    <div class="container">

        <div class="row" style="margin: 3rem;">
            <div class="col-12 text-center">
                <h1 class="display-3" style="font-weight: lighter;">Preciso de...</h1>
            </div>
        </div>

        <div class="container" style="padding-left: 10%; padding-right: 10%;">
            <div class="row">
                <div class="col-sm-12 col-md-6" style="text-align: center; margin-top: 5px; margin-bottom: 5px;">
                    <a href="{{ url_for('main.ong_service') }}"
                    class="btn btn-primary btn-custom"
                    style="font-size: 16px; width: 17rem;"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Preciso de um planejamento mensal, elementos básicos (cores, identidade visual), aplicativos úteis ou designs pré-prontos para minhas redes sociais.">
                        Estratégias de Comunicação para Redes Sociais
                    </a>
                </div>
                <div class="col-sm-12 col-md-6" style="text-align: center; margin-top: 5px; margin-bottom: 5px;">
                    <a href="{{ url_for('main.ong_professionals') }}"
                    class="btn btn-primary btn-custom"
                    style="font-size: 16px; width: 17rem;"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Preciso de profissionais/estudantes de design, publicidade, comunicação ou derivados para me ajudar com minhas redes sociais.">
                        Pessoas Qualificadas
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

